$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

html
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;


body, html
  height 100%
  width 100%
  overflow-x hidden
  >div
    height 100%
    >div
      height 100%
#cli_dialog_div
  position absolute
.navbar
  .site-name
    background-color: #396
    color: #fff
    padding: 5px 10px;
    font-size: 12px;
    line-height 12px;
.home
  padding-bottom 3rem
  .footer
    position: fixed;
    font-size: 12px;
    color #aaa
    border none
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0.5rem;